<div class="row points-list">
  <div class="col-md-6 col-md-offset-3 text-center">
      <% if @report %>
        <% @report.each do |key, value| %>
          <div class="row user-row">
              <div class="col-sm-6 user-name">
                <%= key %>
              </div>
              <div class="col-sm-6 user-points">
                <%= value.sum %> points
              </div>
          </div>
        <% end %>
      <% else %>
        <%= alert_box 'No tasks with points for this date range.' %>
      <% end %>
  </div>
</div>