
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
      <% if @report %>
        <% @report.each do |key, value| %>
          <div class="row user-row">
              <div class="col-sm-6 user-name">
                <%= key %>
              </div>
              <div class="col-sm-6 user-points">
                <%= value.sum %> points
              </div>
          </div>
        <% end %>
      <% else %>
        <p>No tasks with points for this date range.</p>
      <% end %>
  </div>
</div>