<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <% if !@projects.empty? %>
      <% current_workspace = "" %>
      <% current_team      = "" %>
      <% @projects.each do |project| %>
        <% new_workspace = project['workspace']['name'] %>
        <% new_team      = project['team']['name'] %>
        <% if new_workspace != current_workspace %>
          <h2><%= "#{new_workspace}" %></h2>
          <% current_workspace = new_workspace %>
        <% end %>
        <div class="row project-row">
          <%= link_to report_path(project: { id: project['id'], name: project['name']}) do %>
            <div class="col-sm-6 project-name">
              <%= "#{project['name']}"%>
            </div>
            <div class="col-sm-6 project-team">
              <%= "#{project['team']['name']}"%>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>