<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h1>Select a project:</h1>
    <% if !@projects.empty? %>
      <% current_workspace = "" %>
      <% current_team      = "" %>
      <% @projects.each do |project| %>
        <% new_workspace = project['workspace']['name'] %>
        <% new_team      = project['team']['name'] %>
        <% if new_workspace != current_workspace %>
          <h2><%= "#{new_workspace}" %></h2>
          <% current_workspace = new_workspace %>
        <% end %>
        <% if new_team != current_team %>
          <h4><%= "#{new_team}" %></h4>
          <% current_team = new_team %>
        <% end %>
        <p>
          <%= link_to project['name'], report_path(project: { id: project['id'], name: project['name']}) %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>