@import "bootstrap-sprockets";
@import "bootstrap";

// Flash Messages
.alert {
  max-width: 500px;
  margin:    auto;
}

// Element Classes
.btn {
  margin-top: 10px;
}

.date {
  max-width: 160px;
  margin:    auto;
}

.input {
  margin: 20px auto;
}

// Individual Elements
#home-input {
  margin: 30px auto;
}

#overview-box {
  margin-top: 40px;
}